* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: hsl(30, 54%, 90%);
  height: 115rem;
}

hr {
  border-color: hsl(30, 6%, 49%);
}

.omellete-recipe {
  background-color: hsl(0, 0%, 100%);
  width: 38.75rem;
  height: 90rem;
  border-radius: 2rem;
  margin: auto;
  margin-top: 6.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.omellete-recipe .border-around {
  width: 90%;
  height: 95%;
}
.omellete-recipe .border-around img {
  width: 100%;
  height: 15.625rem;
  border-radius: 0.9375rem;
}
.omellete-recipe .border-around .title-and-description {
  width: 100%;
  height: 9.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.omellete-recipe .border-around .title-and-description h1 {
  color: hsl(24, 5%, 18%);
  font-size: 2rem;
}
.omellete-recipe .border-around .title-and-description p {
  color: hsl(30, 6%, 49%);
  font-size: 0.875rem;
}
.omellete-recipe .border-around .preparation-time {
  background-color: hsl(330, 100%, 98%);
  border-radius: 0.625rem;
  height: 9.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.omellete-recipe .border-around .preparation-time span {
  color: hsl(332, 51%, 32%);
  font-weight: 700;
  font-family: "outfit", sans-serif;
  padding-left: 1.25rem;
}
.omellete-recipe .border-around .preparation-time ul {
  padding-top: 0.625rem;
}
.omellete-recipe .border-around .preparation-time ul li {
  font-family: "outfit", sans-serif;
  margin-left: 2.5rem;
  font-size: 0.8125rem;
  padding: 0.3125rem;
  color: hsl(30, 6%, 49%);
}
.omellete-recipe .border-around .ingredients {
  height: 13.75rem;
  margin-top: 1.5625rem;
}
.omellete-recipe .border-around .ingredients h1 {
  color: hsl(14, 45%, 36%);
  font-size: 1.5rem;
}
.omellete-recipe .border-around .ingredients ul {
  margin-top: 0.9375rem;
  margin-left: 1.5625rem;
}
.omellete-recipe .border-around .ingredients ul li {
  color: hsl(30, 6%, 49%);
  font-size: 0.875rem;
  padding: 0.3125rem;
}
.omellete-recipe .border-around .instructions {
  height: 19.375rem;
  margin-top: 1.5625rem;
}
.omellete-recipe .border-around .instructions h1 {
  color: hsl(14, 45%, 36%);
  font-size: 1.5rem;
}
.omellete-recipe .border-around .instructions ol {
  margin-top: 0.9375rem;
  margin-left: 1.5625rem;
}
.omellete-recipe .border-around .instructions ol li {
  color: hsl(30, 6%, 49%);
  font-size: 0.875rem;
  padding: 0.3125rem;
}
.omellete-recipe .border-around .instructions ol li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
.omellete-recipe .border-around .nutrition {
  margin-top: 1.5625rem;
}
.omellete-recipe .border-around .nutrition h1 {
  font-size: 1.5rem;
  color: hsl(14, 45%, 36%);
}
.omellete-recipe .border-around .nutrition p {
  color: hsl(30, 6%, 49%);
  font-size: 0.875rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.omellete-recipe .border-around .nutrition table {
  border-collapse: collapse;
  width: 100%;
}
.omellete-recipe .border-around .nutrition table tr {
  height: 1.875rem;
  border-bottom: 1pt solid hsl(30, 6%, 49%);
}
.omellete-recipe .border-around .nutrition table td {
  color: hsl(30, 6%, 49%);
  font-size: 0.875rem;
}
.omellete-recipe .border-around .nutrition table #value {
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  font-size: 1rem;
}
.omellete-recipe .border-around .nutrition table #last {
  border-bottom: none;
}

@media only screen and (max-width: 480px), (max-height: 320px) {
  .omellete-recipe {
    margin: 0;
    border-radius: 0;
  }
  body {
    height: -moz-max-content;
    height: max-content;
  }
}/*# sourceMappingURL=index.css.map */