// Preparations
$white: hsl(0, 0%, 100%);
$stone100:hsl(30, 54%, 90%);
$stone150: hsl(30, 18%, 87%);
$stone600: hsl(30, 6%, 49%);
$stone900: hsl(24, 5%, 18%);
$brown800: hsl(14, 45%, 36%);
$rose800: hsl(332, 51%, 32%);
$rose50: hsl(330, 100%, 98%);

@function rem($value) {
    @return  ($value / 16) + rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    
}
// End of preparations

body{
    background-color: $stone100;    
    height: 115rem;
}

hr{
    border-color: $stone600;
}

.omellete-recipe{
    background-color: $white;
    width: rem(620);
    height: 90rem;
    border-radius: 2rem;
    margin:auto;
    margin-top: rem(100);
    display: flex;
    justify-content: center;
    align-items: center;
    .border-around{
        width: 90%;
        height: 95%;

        img{
                
                width: 100%;
                height: rem(250);
                border-radius: rem(15);
            }

.title-and-description{

                width: 100%;
                height: rem(150);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                    h1{
                        color: $stone900;
                        font-size: rem(32)
                    }
                    p{
                        color: $stone600;
                        font-size: rem(14)

                    }
                }

.preparation-time{
                background-color: $rose50;
                border-radius: rem(10);
                height: rem(150);
                display: flex;
                flex-direction: column;
                justify-content: center;


                    span{
                        color: $rose800;
                        font-weight: 700;
                        font-family: "outfit", sans-serif;
                        padding-left: rem(20)

                    }
                    ul{
                        padding-top: rem(10);
                            li{
                                font-family: "outfit", sans-serif;
                                margin-left: rem(40);
                                font-size: rem(13);
                                padding: rem(5);
                                color: $stone600;
                    }}
            }

.ingredients{
height: rem(220);
margin-top: rem(25);
    h1{
        color: $brown800;
        font-size: rem(24);
    }

    ul{
        margin-top: rem(15);
        margin-left: rem(25);
        li{
            color: $stone600;
            font-size: rem(14);
            padding: rem(5);
        }
    }
}

.instructions{
    height: rem(310);
    margin-top: rem(25);
    h1{
        color: $brown800;
        font-size: rem(24);
    }
    ol{
        margin-top: rem(15);
        margin-left: rem(25);
        
        li{
            color: $stone600;
            font-size: rem(14);
            padding: rem(5);
            
            &::marker{
                color: $brown800;
                font-weight: 700;
            }
        }
    }
}

.nutrition{
    margin-top: rem(25);

    h1{
        font-size: rem(24);
        color: $brown800;
    }
    p{
        color: $stone600;
        font-size: rem(14);
        margin-top: rem(20);
        margin-bottom: rem(20);
    }

    table{
        border-collapse:collapse;
        width: 100%;
        tr{
            height: rem(30);
            border-bottom: 1pt solid $stone600;
            
        }

        td{
            color: $stone600;
            font-size: rem(14);

        }
        #value{
            color: $brown800;
            font-weight: 700;
            font-size: rem(16);
        }
        #last{
            border-bottom: none;
        }

    }

}

    }
}
